{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects/add_project.css') }}">

{% endblock head %}
{% block content %}
<div class="add-project">
    {% block sidebar %} {{ super() }} {% endblock %}
    {% block flash %} {{ super() }} {% endblock flash %}
    <div class="content">
      <h1>{{ title }}</h1>
      {% if project %}
        <form class="add-card {{ project.color }}" action="{{ submit_url }}" method="POST" id="project-card">
            <label>Title</label>
            <input type="text" name="title" placeholder="title" value="{{ project.title }}" required>
            <label>Goal</label>
            <input type="text" name="goal" placeholder="what's your goal from this project" value="{{ project.goal }}" required>
            <label>Description</label>
            <input type="text" name="description" placeholder="describe your project and how would you finish it" value="{{ project.description }}">
            <label>Color</label>
            <select id="color" name="color">
              <option style="color:blue;" value="#3B82F6" {% if project.color == "#3B82F6" %}selected{% endif %}>🔵 Blue</option>
              <option style="color:green;" value="#10B981" {% if project.color == "#10B981" %}selected{% endif %}>🟢 Green</option>
              <option style="color:red;" value="#EF4444" {% if project.color == "#EF4444" %}selected{% endif %}>🔴 Red</option>
              <option style="color:orange;" value="#ff6c00" {% if project.color == "#ff6c00" %}selected{% endif %}>🟠 orange</option>
              <option style="color:purple;" value="#8B5CF6" {% if project.color == "#8B5CF6" %}selected{% endif %}>🟣Purple</option>
            </select>
            <label>Taret date</label>
            <input type="date" name="target_day" value="{{ project.target_date }}">
            <button type="submit">Save changes</button>
        </form>
      {% else %}
        <form class="add-card blue" method="POST" id="project-card">
            <label>Title</label>
            <input type="text" name="title" placeholder="title" required>
            <label>Goal</label>
            <input type="text" name="goal" placeholder="what's your goal from this project" required>
            <label>Description</label>
            <input type="text" name="description" placeholder="describe your project and how would you finish it">
            <label>Color</label>
            <select id="color" name="color">
              <option style="color:blue;" value="#3B82F6" selected>🔵 Blue (Default)</option>
              <option style="color:green;" value="#10B981">🟢 Green</option>
              <option style="color:red;" value="#EF4444">🔴 Red</option>
              <option style="color:orange;" value="#ff6c00">🟠 orange</option>
              <option style="color:purple;" value="#8B5CF6">🟣Purple</option>
            </select>
            <label>Taret date</label>
            <input type="date" name="target_day" >
            <div class="submit-buttons">
              <button type="submit" class="submit_prompt" formaction="{{ url_for('add_project') }}"><span>Add Project<span></button>
              <button type="submit" class="submit_prompt" formaction="{{ url_for('quick_add_project') }}"><span>Generate full project with AI</span></button>
            </div>
        </form>
      {% endif %}

    </div>
    <span style="color:rgb(0, 0, 0)">
</div>

<script>

const priority = document.getElementById("color");
const card = document.getElementById("project-card");
const secondclass = card.classList[1]
if (secondclass == "#3B82F6"){
  card.classList.replace(secondclass, "blue")
}
if (secondclass == "#10B981"){
  card.classList.replace(secondclass, "green")
}
if (secondclass == "#EF4444"){
  card.classList.replace(secondclass, "red")
}
if (secondclass == "#ff6c00"){
  card.classList.replace(secondclass, "orange")
}
if (secondclass == "#8B5CF6"){
  card.classList.replace(secondclass, "purple")
}
priority.addEventListener("change", function(){

  card.classList.remove("blue", "green", "red", "orange", "purple");

    if(priority.value === "#3B82F6"){
        card.classList.add("blue");
    }
    else if(priority.value === "#10B981"){
        card.classList.add("green");
    }
    else if(priority.value === "#EF4444"){
        card.classList.add("red");
    }
    else if(priority.value === "#ff6c00"){
        card.classList.add("orange");
    }
    else if(priority.value === "#8B5CF6"){
        card.classList.add("purple");
    }
    
});
document.getElementById('project-card').addEventListener('submit', function(e) {
    const clickedButton = e.submitter
      clickedButton.classList.add('spining')
      clickedButton.style.pointerEvents = 'none'
});
</script>
{% block script %}  {{super()}} {% endblock script %}
{% endblock content %}