.nav-container{
    display: flex;
    justify-content: center;
}
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;  
    border-radius:8px;
    margin-top: 15px;

}
.navigation a{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:150px;
    gap: 15px;
    padding: 14px 18px;
    text-decoration: none;
    background: rgb(197, 197, 197);
    color:#333;
    border-radius:8px;
    margin:3px;
    transition:0.2s;
}
#theme-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border:none;
    background-color: transparent;
}
.dark #theme-switch{
    color:white;
}
.navigation svg{
    min-width:24px;
    min-height:24px;
    fill:currentColor;
}
.navigation a:hover{
    background:#818181;
    color:#000000;
} 