.menu-button{
    display:none
}
.sidebar{
    box-sizing:border-box;
    position:sticky;
    top:10px;
    width:80px;
    height:calc(100vh - 20px);
    margin:5px;
    padding:10px;
    background:white;
    border-radius:8px;
    border-right:5px solid #7c7b7b;
    overflow:hidden;
    transition:300ms ease;
    flex-shrink:0;
    overflow-y: auto;
}

@media (min-width:800px) and (hover:hover){
    .sidebar:hover{
        width:250px;
        margin-right:0px;
        z-index:9999;
    }
    .sidebar:hover .h-line{
        margin-top:0;
    }
    .sidebar:hover #toggle-btn svg{
        transform: rotate(180deg)
    }
    .sidebar:hover span{display:inline;}
}
.sidebar span{ display:none; }
.sidebar.open span{
    display:inline;
}

.sidebar.open{
    width:250px;
}


.sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar li:first-child{
    display:flex;
    justify-content:flex-end;
    margin-bottom:15px;
}
.sidebar .h-line{
    margin-bottom:50px;
}
#toggle-btn{
    width:45px;
    height:45px;
    border:none;
    background:none;
    border-radius:10px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:5px;
}

#toggle-btn:hover{
    background:#ddd;
}

#toggle-btn svg{
    transition:.3s;
}

.sidebar.open #toggle-btn svg{
    transform:rotate(180deg);
}

.sidebar a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px 14px;
    margin-bottom:8px;
    border-radius:8px;
    text-decoration:none;
    color:#333;
    transition:.2s;
}
.streak-badge{
    height:24px;
    margin-left:50px;
    margin-top:10px;
}
.sidebar a:hover{
    background:#d9d9d9;
}

.sidebar_dash-dashboard,.sidebar_add-add_task,.sidebar_comp-completed_tasks,.sidebar_statics-statics,.sidebar_projects-projects{
    background:#e8f3ff;
    font-weight:bold;
}
.sidebar svg{
    min-width:24px;
    min-height:24px;
    fill:currentColor !important;
}

.sidebar span{
    white-space:nowrap;
}

.sidebar.collapsed a{
    justify-content:center;
}
.sidebar.collapsed #toggle-btn{
    margin-right: 16px;
}
.logout{
    margin-top: auto;
}
.profile {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 14px 14px;
    border-radius: 8px;
    transition: .2s;
    cursor: default; 
    user-select: none; 
    color: #6c757d;
}
.profile div{
    display:flex;
    gap:5px;
}
.theme-switch{
    color:black;
    cursor:pointer;
}
li.bottom-item{
    margin-top: auto;
}
.app-title {
    margin-right:auto;
    margin-top:12px;
    font-weight: 700;
    font-size: 1.1rem;
    color: #000000b0;
    letter-spacing: -0.5px;
}
    @media (max-width: 800px){
        .sidebar{
            z-index: -1;
            position:fixed;
            top:0;
            left:0;
            opacity:0;
            pointer-events: none;
            transform: translateX(-100%);
            transition: 300ms ease;}
        .menu-button{
            display: block;
            position:fixed;
            border:none;
            border-radius: 6px;
            background-color: rgb(196, 196, 196);
            top:10px;
            left:15px;
            z-index:1000;
        }
        .sidebar.active{
            position:fixed;
            top:0;
            left:0;
            width:250px;
            max-width: 250px;
            opacity: 1;
            pointer-events:auto;
            transform: translateX(0);
            z-index:1000;
        }
        .sidebar.active #toggle-btn svg{
            transform: rotate(180deg)
        }
        .sidebar.active span{display:inline;}
        .sidebar-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            z-index: 1000;
        }
        .sidebar-overlay.active {
            display: block;
        }
    }

.dark .sidebar{
    background-color: #383838;
}
.dark #toggle-btn{
    color:white;
}
.dark profile{
    color: #b1afaf;
}
.dark ul li, .dark li a, .dark .app-title{
    color:white;
    fill:white;
}
.dark .sidebar_dash-dashboard,.dark .sidebar_add-add_task,.dark .sidebar_comp-completed_tasks,.dark .sidebar_statics-statics,.dark .sidebar_projects-projects{
    color:black;
    fill:black
}
.dark .sidebar a:hover{
    background:#969696;
    color:black;
}