{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/add_task.css') }}">
{% endblock head %}

{% block content %}

<div class="add-task">

    {% block sidebar %} {{ super() }} {% endblock %}

    <main class="content">
        <h1>{{ title }}</h1>
        {% if task %}
            <form class="add-card {{ task.priority | lower }}" action="{{ submit_url }}" method="POST" id="task-card">

                <label>Task</label>

                <input type="text" name="task" value="{{ task.title }}" required>
                
                <label>Category</label>
                {% if task.category %}
                    <input type="text" name="category" placeholder="Work, Travel, Health..." value="{{ task.category }}" >
                {% else %}
                    <input type="text" name="category" placeholder="Work, Travel, Health...">
                {% endif %}
                {% if title != 'Edit Subtask' %}
                    <p class="category-text">Leave it empty to auto-detect.{{title|lower}}</p>
                {% endif %}
                <label>Priority</label> 

                <select name="priority" id="priority">

                    <option value="High" {% if task.priority=="High" %}selected{% endif %}>🔴 High</option>
                    <option value="Medium" {% if task.priority=="Medium" %}selected{% endif %}>🟠 Medium</option>
                    <option value="Low" {% if task.priority=="Low" %}selected{% endif %}>🟢 Low</option>
                </select>

                <label>Due date</label>

                <input type="date" name="due_date" value="{{ task.due_date }}">

                <button type="submit">Save Changes</button>

            </form>
        {% else %}
            <form class="add-card high" action="{{ submit_url }}" method="POST" id="task-card">

                <label>Task</label>

                <input type="text" name="task" placeholder="Enter your task" required>

                <label>Category</label>

                <input type="text" name="category" placeholder="Work, Travel, Health..." >
                {% if title != 'Add Subtask' %}
                    <p class="category-text">Leave it empty to auto-detect.</p>
                {% endif %}

                <label>Priority</label>

                <select name="priority" id="priority">

                    <option value="High">🔴 High</option>
                    <option value="Medium">🟠 Medium</option>
                    <option value="Low">🟢 Low</option>

                </select>

                <label>Due date</label>

                <input type="date" name="due_date">

                <button type="submit">Add Task</button>

            </form>
        {% endif %}

    </main>

</div>
<script>

const priority = document.getElementById("priority");
const card = document.getElementById("task-card");

priority.addEventListener("change", function(){

    card.classList.remove("high", "medium", "low");

    if(priority.value === "High"){
        card.classList.add("high");
    }
    else if(priority.value === "Medium"){
        card.classList.add("medium");
    }
    else{
        card.classList.add("low");
    }

});

</script>
{% block script %}  {{super()}} {% endblock script %}
{% endblock %}