{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/completed.css') }}">   
{% endblock head %}
{% block content %}
<div class="dashboard">
    {% block sidebar %} {{ super()}} {% endblock sidebar %}
    {% block flash %} {{ super() }} {% endblock flash %}
    <main class="content" id="completed-tasks-container">
        {% if tasks %}
            <div class="toolbar">
                <h3>Completed Tasks</h3>
            </div>
            <div class="delete-all-tasks">
                 <a href="{{ url_for('delete_all_completed_tasks') }}"  onclick="return confirm('Are you sure you want to delete all your tasks?')"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"/></svg><span>delete all tasks</span></a>
            </div>
            {% for task in tasks %}

            <div class="task-card {{ task.priority|lower }}" id="task-{{ task.id }}">

                <div class="card-header">
                    <p> {{ task.title }} </p>

                    
                    <div class="dropdown">

                        <button class="menuu">⋮</button>

                        <div class="dropdown-content">
                            <a hx-delete="{{ url_for('delete_completed_task', task_id=task.id) }}" hx-target="#task-{{ task.id }}" hx-swap="delete swap:200ms"  hx-confirm="Are you sure you want to delete this task?" class=""><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360Z"/></svg><span>Delete</span></a>                        
                        </div>

                    </div>
                </div>
                <hr>
                <div class="task-title">
                    <div class="d-flex flex-wrap align-items-center gap-3 mt-2">
                        {% if task.due_date %}
                              <span class="badge bg-light text-secondary border d-inline-flex align-items-center gap-1 py-1 px-1 rounded-pill" style="font-size: 0.8rem;"><i class="bi bi-calendar-event"></i><strong>Due date:</strong> {{ task.due_date }}</span>
                              <span class="text-muted d-none d-sm-inline">•</span>
                        {% endif %}
                        <span class="badge bg-success-subtle text-success border border-success-subtle d-inline-flex align-items-center gap-1 py-1 px-1 rounded-pill" style="font-size: 0.8rem;"><span class="rounded-circle bg-success" style="width: 6px; height: 6px;"></span>Completed</span>
                        {% if task.formatted_time_left %}
                        <span class="text-muted d-none d-sm-inline">•</span>
                        <span class="badge bg-danger-subtle text-danger border border-danger-subtle d-inline-flex align-items-center gap-1 py-1 px-1 rounded-pill" style="font-size: 0.8rem;"><span class="rounded-circle bg-danger" style="width: 6px; height: 6px;"></span>Expires in : {{task.formatted_time_left}}</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        {% else %}
            <div class="no-tasks-message">
                <h1 style="color:rgba(63, 63, 63, 0.76); text-align:center;">Your completed tasks will show here.</h1>
            </div>
        {% endif %}  
    </main>

</div>

<script>
const buttons = document.querySelectorAll(".menuu");

buttons.forEach(button => {

    button.addEventListener("click", function (event) {

        // Prevent the click from reaching the document
        event.stopPropagation();

        // Close all other dropdowns
        document.querySelectorAll(".dropdown-content").forEach(menuu => {
            if (menuu !== this.nextElementSibling) {
                menuu.style.display = "none";
            }
        });

        // Toggle this dropdown
        const menuu = this.nextElementSibling;

        if (menuu.style.display === "block")
            menuu.style.display = "none";
        else
            menuu.style.display = "block";

    });

});

// Close all dropdowns when clicking anywhere else
document.addEventListener("click", function () {

    document.querySelectorAll(".dropdown-content").forEach(menuu => {
        menuu.style.display = "none";
    });

});
</script>
{% block script %}  {{super()}} {% endblock script %}
{% endblock %}