{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pomodoro.css') }}">
{% endblock head %}
{% block content %}
<div class="main-container">
    {% block sidebar %} {{ super() }} {% endblock %}
    {% block flash %} {{ super() }} {% endblock %}
    <div id="loading-bar" class="loading-bar htmx-indicator">
        <div class="loadbar-fill"></div>
    </div>
    <main id="main">
        <div class="new">
            <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#e3e3e3"><path d="M299.5-148Q234-176 185-225t-77-114.5Q80-405 80-480t28-140.5Q136-686 185-735t114.5-77Q365-840 440-840q21 0 40.5 2.5T520-830v82q-20-6-39.5-9t-40.5-3q-118 0-199 81t-81 199q0 118 81 199t199 81q118 0 199-81t81-199q0-11-1-20t-3-20h82q2 11 2 20v20q0 75-28 140.5T695-225q-49 49-114.5 77T440-120q-75 0-140.5-28ZM552-312 400-464v-216h80v184l128 128-56 56Zm168-288v-120H600v-80h120v-120h80v120h120v80H800v120h-80Z"/></svg>
            <a href="#" class="btn btn-info"><span>New Section</span></a>
        </div>
    </main>
</div>



{% block script %}  {{super()}} {% endblock script %}
{% endblock content %}
------------------------------------------------------------------------------------------------------------------------------------------------------------



                                                                              <svg>

                                                                            New Section


------------------------------------------------------------------------------------------------------------------------------------------------------------



------------------------------------------------------------------------------------------------------------------------------------------------------------


                                                                                                    | Start | > position fixed

                                                                    Give your session a name:

                                                                    ------------------------

                                                                            Time:

                                                                        00 H : 00 min

                                                                    Breaks: 0 | every: 25m

                                                                    ------------------------

                                                            Link a project > Link a specific milestone

                                                                    ------------------------

                                                                   Add tasks for the session >

                                                                            | + |
                                                                
                                                                    ------------------------

                                                                        Add files/videos

                                                                    ------------------------

                                                                            Start




------------------------------------------------------------------------------------------------------------------------------------------------------------



------------------------------------------------------------------------------------------------------------------------------------------------------------



                                                                                        Pause | End Session > fixed position
                                                                                        tasks > fixed position

                                                                             cercle
                                                                            1H : 23m

                                                                     ------------------------

                                                                            nothing else
                                                                     ------------------------


























------------------------------------------------------------------------------------------------------------------------------------------------------------